SingleSignOn/IntermediateSts/Configuration/StsConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://atomia.com/stsconfiguration" elementFormDefault="qualified" targetNamespace="http://atomia.com/stsconfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stsConfigurationSection" type="tns:Atomia.Custom.IntermediateSts.Configuration.StsConfigurationSectionCT" />
	<xs:complexType name="Atomia.Custom.IntermediateSts.Configuration.StsConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="relayingParties" type="tns:Atomia.Custom.IntermediateSts.Configuration.RelayingPartiesCT">
				<xs:annotation>
					<xs:documentation>The RelayingParties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Atomia.Custom.IntermediateSts.Configuration.RelayingPartiesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="relayingParty" type="tns:Atomia.Custom.IntermediateSts.Configuration.RelayingPartyCT">
				<xs:annotation>
					<xs:documentation>The RelayingParty Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Atomia.Custom.IntermediateSts.Configuration.RelayingPartyCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="certificate" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The certificate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="homeRealm" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The homeRealm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
