SingleSignOn/FederatedAuthenticationLoginActionFilter/Configuration/LoginActionFilterConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://schemas.atomia.com/2014/11/configuration/migration" elementFormDefault="qualified" targetNamespace="http://schemas.atomia.com/2014/11/configuration/migration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="loginActionFilterConfiguration" type="tns:Atomia.Custom.FederatedAuthenticationLoginActionFilter.Configuration.LoginActionFilterConfigurationCT" />
	<xs:complexType name="Atomia.Custom.FederatedAuthenticationLoginActionFilter.Configuration.LoginActionFilterConfigurationCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="realm" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Realm.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
